@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  h1{
    @apply text-4xl font-bold;
  
  }
  h2{
    @apply text-lg font-bold
  }
  h3{
    @apply text-lg font-bold  text-zinc-400 italic
  }

  hr{
    @apply border-t-[0.5] border-gray-500    my-12;
  
  }
  p{
    @apply text-zinc-400 text-sm
  }

  .text-balance {
    text-wrap: balance;
  }

  .hover-shadow{
    @apply hover:shadow-xl hover:shadow-zinc-700 transition-all duration-300;
  }

}


#particles canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}