:root {
  --primary: black;
  --secondary: white;
}

@tailwind base;


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 6px solid var(--primary);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);

}

.typed-cursor {
  height: 100%;
}


@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  h1{
    @apply text-4xl font-bold;
  
  }
  h2{
    @apply text-lg font-bold
  }
  h3{
    @apply text-lg font-bold  text-zinc-400 italic
  }

  hr{
    @apply h-[1.5px] my-16 border-t-0  bg-gradient-to-r from-transparent via-zinc-300 to-transparent ;
  
  }
  p{
    @apply text-zinc-400 text-sm
  }

  .text-balance {
    text-wrap: balance;
  }

  .hover-shadow{
    @apply hover:shadow-xl hover:shadow-zinc-700 transition-all duration-300;
  }

}


#particles canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}